@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
    color-scheme: light !important; /* Tvingar webbläsaren att förstå att detta är en ljus sida */
}

html, body {
    background-color: white !important;
    color: #020617 !important;
}